<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script src = "<%= '/js/' + page + '.js'%>"></script>
</head>
<body>
    <header>
      <%- include ./partials/general/header%>
    </header>
    <main>
        <% if(page == "home") { %>
            <%- include ./partials/pages/home %>
        <%} else if (page == "chat") { %>
          <%- include ./partials/pages/chat %>
        <%} else if (page == "login"){%>
          <%- include ./partials/pages/login %>
        <%} else if (page == "register"){%>
          <%- include ./partials/pages/register %>
        <%} else if (page == "profile"){%>
          <%- include ./partials/pages/profile %>
        <%} else if (page == "groups"){%>
          <%- include ./partials/pages/groups %>
        <%} else if (page == "newgroup"){%>
          <%- include ./partials/pages/newgroup %>
        <%} else if (page == "group"){%>
          <%- include ./partials/pages/group %>
        <% } else if (page == "404"){%>
          <%- include ./partials/pages/404 %>
        <% } %>
    </main>
    <%- include ./partials/general/footer%>
    <% if ( page == "chat"){ %>
      <script src="/socket.io/socket.io.js"></script>
    <%}%>
</body>

</html>