
<% var member = false; %>
<% var power = "none"; %>
<% var memberArray = []; %>
<% if(user) {%>
  <% var groupMembers = group.groupMembers.split(","); %>
  <% for(var i = 0; i < groupMembers.length; i++){ %>
    <% if(user.userId == parseInt(groupMembers[i])){ %>
      <% member = true; %>
      <% for(var j= 0; j < group.info.length; j++){ %>
        <% memberArray.push(group.info[j]) %>
        <%if(group.info[j].member == user.userId){%>
          <%power = group.info[j].position;%>
        <%}%>
      <%}%>
    <%}%>
  <%}%>
<%}%>
 
<div class="mt container">
  <div class="row">
    <div class="col s12 m4" id ="profileColumn">
      <% if(group.groupAvatar){%>
        <img class="z-depth-3" id="groupProfileImg" src="
          <%='/assets/img/uploads/'+group.groupAvatar %>
        ">
      <%}else{%>
        <img class="z-depth-3" id="groupProfileImg" src="/assets/img/defaultAvatar.png">
      <%}%>
      <h2><%= group.groupName %></h2>
      <% if (power == "admin"){ %>
        <div class="row">
          <div class="col s12 center-align">
            <a class="wave-effect waves-light btn profile-btns" id="avatarChange">Change Avatar</a>
          </div>
          <div class="col s12 center-align">
            <a href="/chat/<%= group.groupId %>" data-room="<%= group.groupId %>" id="chat" class="wave-effect waves-light btn profile-btns">Group Chat</a>
          </div>
        </div>
      <% } else if (member){%>
        <div class = "row" id = "leaveGroupRow">
          <div class="col s6 center-align">
            <a class="wave-effect waves-light btn profile-btns" href = "<%= '/leavegroup/' + group.groupId%>">Leave Group</a>
          </div>
        </div>
      <%}else{%>
        <div class = "row hide" id = "leaveGroupRow">
          <div class="col s12 center-align">
            <a class="wave-effect waves-light btn profile-btns" href = "#" id = "leaveGroupButton">Leave Group</a>
          </div>
        </div>
        <div class = "row" id = "joinGroupRow">
        <div class="col s12 center-align" id = "joinGroupDiv">
          <a href="" class="wave-effect waves-light btn profile-btns" data-user="<%= user.userId %>" data-group = "<%= group.groupId %>" id = "joinGroup">Join Group</a>

        </div>
        </div>
      <%}%>

      <ul class="collapsible">
        <li>
          <div class="collapsible-header">Show Members</div>
          <div class="collapsible-body" id = "membersDiv" data-group="<%= group.groupId %>" data-power = "<%= power %>" data-userId = "<%= user.userId %>">
            <ul>

            </ul>
          </div>
        </li>
      </ul>
      
     
    </div>
    <div class="col s12 m8" id = "tasksColumn">
      <% for(var k = 0; k < group.tasks.length; k++) { %>
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">
              <%= group.tasks[k].taskName %>
            </span>
            <h4>Reward: 
              <%= group.tasks[k].taskPoints %>
            <h4>
            <p>
              <%= group.tasks[k].taskDesc %>
            </p>
          </div>
          <div class="card-action completedMembers">
            <%= group.tasks[k].completedMembers %>
          </div>
        </div>
      <% } %>
      <%if(group.tasks.length == 0){%>
        <% if(power=="admin"){%>
          <div>
            <a href="/search" id="new-task" class="wave-effect waves-light btn">Add new Task</a>
          </div>
        <% } else{%>
          <div>
            <h3 class="center-align">No tasks yet!</h3>
        <%}%>
      <%}%>
    </div>
  </div>
</div>